* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  color: #111;
  height: 100%;
}
img {
  width: 100%;
}
div,
header,
section,
footer {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* PC버전 */
.wrap {
  width: 100%;
}
header {
  height: 120px;
  background-color: transparent;

  position: fixed;
  z-index: 100;
  transition: all 0.5s;
}
header .header_wrap {
  width: 100%;
  height: 100%;
  padding: 1.5vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  transition: all 0.5s;
}

header .logo {
  width: 24vw;
  height: 5vw;
  background-image: url(../img/logo-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* 내비게이션 */
header nav {
  position: relative;
  z-index: 110;
  margin-top: 1.5vw;
  width: 190vw;
}
header nav > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
header nav > ul > li {
  position: relative;
}
header nav > ul > li > a {
  color: #002525;
  font-size: 1vw;
  font-weight: bold;
  padding-bottom: 3.4vw;
  text-align: center;
  position: relative;
}
header nav > ul > li > a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 50%;
  background-color: #ffa17a;
  transition: all 0.5s;
}

header nav .sub {
  display: none;
  padding: 1.5vw 0;
  padding-top: 16.0315701px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header nav .sub li a {
  color: #002525;
  font-size: 0.8vw;
  text-align: center;
  position: relative;
  padding: 0.5vw;
  margin-bottom: 0.3vw;
  white-space: nowrap;
}
header nav .sub li a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: #ffa17a;
  transition: all 0.5s;
}
/* 메뉴 마우스 오버 글자색 밑줄 에니메이션 */
header nav > ul > li:hover > a {
  color: #ffa17a;
}
header nav ul li a:hover {
  text-decoration: none;
}
/* 주메뉴 밑줄 에니메이션 */
header nav > ul > li:hover > a:after {
  width: 100%;
  left: 0;
}
header nav ul li > a:hover:after {
  width: 100%;
  left: 0;
}
header .sub_bg {
  display: none;
  z-index: 101;
  width: 100%;
  height: 15vw;
  position: absolute;
  top: 120px;
  left: 0;
  border-top: 3px solid #002525;
  background-color: rgba(62, 141, 139, 75%);
}

/* 메뉴버튼 */
header .menu {
  width: 7vw;
  height: 2vw;
  margin-top: 1vw;
  background-image: url(../img/menu-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 헤더 엑티브 */
header.active {
  background-color: white;
}
header .header_wrap.active {
  background-color: #fff;
}
header.active .logo,
header .header_wrap.active .logo {
  background-image: url(../img/logo.png);
}
header.active nav > ul > li > a header .header_wrap.active nav > ul > li > a {
  color: #ffa17a;
}
header.active .menu header .header_wrap.active .menu {
  background-image: url(../img/menu-2.png);
}

/* 섹션 */
section {
  height: 100vh;
}
section.s1 .swiper {
  width: 100%;
  height: 100vh;
}
section.s1 .swiper .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section.s1 .swiper .main1 {
  background-image: url(../img/1-1.png);
}
section.s1 .swiper .main2 {
  background-image: url(../img/1-2.png);
}
section.s1 .swiper .main3 {
  background-image: url(../img/1-3.png);
}
section.s1 .swiper .main4 {
  background-image: url(../img/1-4.png);
}
section.s1 .swiper .swiper-slide .main_txt {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-35%);
  opacity: 0;
  transition: all 0.5s;
  line-height: 1vw;
}
section.s1 .swiper .swiper-slide-active .main_txt {
  opacity: 1;
  top: 50%;
}
section.s1 .swiper .swiper-slide .main_txt h1 {
  text-align: center;
  color: #002525;
  font-size: 5vw;
  font-weight: bold;
}
section.s1 .swiper .swiper-slide .main_txt h3 {
  text-align: center;
  color: #002525;
  font-size: 2.5vw;
}
section.s1 .swiper .swiper-slide .main_txt h3 span {
  font-size: 2vw;
}
section.s1 .swiper .swiper-button-next,
section.s1 .swiper .swiper-button-prev {
  color: #002525;
}
section.s1 .swiper .swiper-button-next:after,
section.s1 .swiper .swiper-button-prev:after {
  font-weight: bold;
}
section.s1 .swiper .swiper-button-next {
  right: 6vw;
}

section.s1 .swiper .swiper-button-prev {
  left: 6vw;
}
.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 17.5vw;
}
.swiper-pagination-bullet {
  opacity: 0.5;
  background: #002525;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
section.s1 .swiper .swiper-play-stop {
  width: 10px;
  height: 10px;
  background-image: url(../img/puse.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 5px;
}
.center {
  width: 1700px;
  margin: 0 auto;
  float: none;
}
section.s2 {
  padding: 9vw 0 0;
  position: relative;
  height: 48vw;
}

section.s2 .row {
  z-index: 95;
  position: relative;
}
section.s2 .company_txt {
  padding: 1vw 7vw;
  left: -5vw;
  opacity: 0;
  transition: all 1s;
}

section.s2 .company_txt h5 {
  color: #ffa17a;
  font-style: italic;
  line-height: 0.1vw;
}
section.s2 .company_txt h1 {
  color: #f3eada;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1vw;
  font-size: 2.6vw;
}
section.s2 .company_img {
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.1s;
}

section.s2 .company_txt p {
  font-size: 0.9vw;
  line-height: 1.8vw;
  margin-top: 1.5vw;
}
section.s2 .company_txt.active {
  opacity: 1;
  margin-left: 0;
}
section.s2 .company_img.active {
  opacity: 1;
}

section.s2 .s2_bg {
  width: 100%;
  height: 5vw;
  background-image: url(../img/2-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

section.s3 {
  position: relative;
}
section.s3 .s3_bg {
  width: 100%;
  height: 85vh;
  background-image: url(../img/3-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
}
section.s3 .center {
  z-index: 94;
  position: relative;
}
section.s3 .fade_animation {
  text-align: center;
  margin-top: 3vw;
}
section.s3 .fade_animation h5 {
  color: #3e8d8b;
}
section.s3 .fade_animation h1 {
  color: #002525;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1vw;
  font-size: 2.6vw;
}
/* 상품 슬라이드 */
section.s3 .swiper .swiper-slide {
  height: 27vw;
  padding: 1vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
section.s3 .swiper .swiper-slide:nth-child(odd) {
  margin-top: 3vw;
}
section.s3 .swiper .p1 {
  background-image: url(../img/3-1.png);
}
section.s3 .swiper .p2 {
  background-image: url(../img/3-2.png);
}
section.s3 .swiper .p3 {
  background-image: url(../img/3-3.png);
}
section.s3 .swiper .p4 {
  background-image: url(../img/3-4.png);
}
section.s3 .swiper .p5 {
  background-image: url(../img/3-5.png);
}
section.s3 .swiper .p6 {
  background-image: url(../img/3-6.png);
}
section.s3 .swiper .p7 {
  background-image: url(../img/3-7.png);
}
section.s3 .swiper .p8 {
  background-image: url(../img/3-8.png);
}

/* s4 */
section.s4 .center {
  position: relative;
}
section.s4 .center > .fade_animation {
  position: absolute;
  right: 0;
  top: 1vw;
  width: 500px;
  text-align: right;
  z-index: 96;
}
section.s4 .center > .fade_animation h5 {
  color: #ffa17a;
  line-height: 0.75vw;
}
section.s4 .center > .fade_animation h1 {
  color: #002525;
  font-weight: bold;
  font-style: italic;
  font-size: 2.6vw;
}
section.s4 .center .row {
  margin: 0;
}
section.s4 .center .row .col-sm-6 {
  position: relative;
  height: 30vw;
}
section.s4 .center .row .col-sm-6 .s4_img {
  width: 30vw;
}
section.s4 > div > div.row > div.col-sm-6.s4_right > div.s4_img > img {
  margin-top: 3vw;
}
section.s4 .center .row .col-sm-6 .s4_des {
  border: 1px solid #f3eada;
  width: 60%;
  background-color: #f3eada;
  padding: 1vw;
  width: 20vw;
}
section.s4 .center .row .s4_left .s4_des {
  position: absolute;
  bottom: -7vw;
  left: 25vw;
}
section.s4 .center .row .s4_des h4 {
  color: #3e8d8b;
  font-style: italic;
  font-size: 1vw;
  padding-bottom: 0.4vw;
}
section.s4 .center .row .s4_des h3 {
  color: #002525;
  font-weight: bold;
  font-size: 1.35vw;
  padding-bottom: 1vw;
}
section.s4 .center .row .s4_des span {
  color: #ffa17a;
  font-weight: bold;
  font-size: 1vw;
}
section.s4 .center .row .s4_des p {
  padding-top: 1vw;
}

section.s4 .center .row .s4_right .s4_img {
  margin-top: 7vw;
  float: right;
}
section.s4 .center .row .s4_right .s4_des {
  position: absolute;
  bottom: -20vw;
  right: 20vw;
  text-align: right;
}

section.s4 .s4_bg1 {
  position: absolute;
  height: 30vw;
  width: 25vw;
  bottom: -37vw;
  left: 5vw;
  background-image: url(../img/4-bg2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}
section.s4 .s4_bg2 {
  position: absolute;
  height: 12.5vw;
  width: 15vw;
  right: 10vw;
  top: -4.28vw;
  background-image: url(../img/4-bg1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 6;
}

/* s4 애니 */
section.s4 .s4_ani1 {
  margin-left: -5vw;
  opacity: 0;
  transition: all 1s;
}
section.s4 .s4_ani2 {
  margin-right: -5vw;
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.1s;
}
section.s4 .s4_ani3 {
  margin-right: -5vw;
  opacity: 0;
  transition: all 1s;
}
section.s4 .s4_ani4 {
  margin-left: -5vw;
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.1s;
}

section.s4 .s4_ani1.active {
  margin-left: 0;
  opacity: 1;
}
section.s4 .s4_ani2.active {
  margin-right: 0;
  opacity: 1;
}
section.s4 .s4_ani3.active {
  margin-right: 5vw;
  opacity: 1;
}
section.s4 .s4_ani4.active {
  margin-left: 0;
  opacity: 1;
}

/* s5 */

section.s5 .center {
  margin-top: 10vw;
}
section.s5 .center .acc {
  width: 100%;
  height: 33vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
section.s5 .center .acc .acc_item {
  width: 20%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 14vw;
  text-shadow: 0 0 5px #002525;
  cursor: pointer;
  transition: all 0.5s;
}
section.s5 .center .acc .acc_item.active {
  width: 77%;
}
section.s5 .center .acc .acc1 {
  background-image: url(../img/5-1-2.png);
}
section.s5 .center .acc .acc2 {
  background-image: url(../img/5-2-2.png);
}
section.s5 .center .acc .acc_item.active h3 {
  font-weight: bold;
}
section.s5 .center .acc .acc_item h3 {
  padding-bottom: 1.2vw;
}
section.s5 .center .acc .acc_item.active p {
  display: block;
}
section.s5 .center .acc .acc_item p {
  display: none;
}

/* s6 */
section.s6 {
  position: relative;
}
section.s6 > .center {
  width: 70%;
}
section.s6 .center .list {
  margin-top: 7vw;
  margin-bottom: 7vw;
}
section.s6 .center .list ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
section.s6 .center .list ul li {
  width: 15vw;
  padding-bottom: 2vw;
}
section.s6 .center .list ul li img {
  border: 2px solid #002525;
}
body > div > section.s6 > div.center > div > ul > li:nth-child(1) > a > img {
  border: none;
}
section.s6 .center {
  z-index: 97;
  position: relative;
}

section.s6 .s6_bg {
  height: 100vh;
  position: absolute;
  z-index: 4;
  background-image: url(../img/6-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.s7 {
  position: relative;
}
section.s7 #map_canvas {
  height:800px;
}
section.s7 .s7_addr {
  position: absolute;
  width: 39%;
  height: 27vw;
  right: 5.5vw;
  top: 5vw;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  border: 5px solid #3e8d8b;
}
section.s7 .s7_addr .s7_img {
  width: 40%;
  background-image: url(../img/7-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section.s7 .s7_addr .s7_img .s7_icon {
  background-color: #3e8d8b;
  width: 3vw;
  height: 3vw;
}
section.s7 .s7_addr .s7_img .s7_icon > img {
  width: 1.5vw;
  margin-left: 0.55vw;
  margin-top: 0.4vw;
}

section.s7 .s7_addr .s7_info {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2.3vw;
}
section.s7 .s7_addr .s7_info h4 {
  color: #ffa17a;
  font-weight: normal;
  font-style: italic;
  margin-left: 0.1vw;
}
section.s7 .s7_addr .s7_info h1 {
  color: #002525;
  font-weight: bold;
  margin-bottom: 1vw;
}
section.s7 .s7_addr .s7_info address {
  font-weight: bold;
  font-style: normal;
  font-size: 1vw;
  padding-bottom: 1vw;
  border-bottom: 1px solid #00c9c9;
}
section.s7 .s7_addr .s7_info address > span {
  font-weight: bold;
  font-style: italic;
}
section.s7 .s7_addr .deliverry {
  margin-top: 0.7vw;
  margin-bottom: 0.7vw;
}
section.s7 .s7_addr .time h5 > span {
  color: #3e8d8b;
  font-style: italic;
}

/* 모든 섹션 애니메이션 */
.fade_animation {
  opacity: 0;
  transition: all 1s;
}
.fade_animation.active {
  opacity: 1;
}
.up_animation {
  opacity: 0;
  margin-top: 5vw;
  transition: all 1s;
  transition-delay: 0.2s;
}
.up_animation.active {
  opacity: 1;
  margin-top: 0;
}
.up_delay {
  transition-delay: 0.3s;
}

/* 푸터 */
footer {
  background-color: #3e8d8b;
  color: #fff;
}
footer .center {
  padding: 2.2vw 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
footer .center .footer_logo {
  width: 20vw;
  text-align: left;
  padding-left: 5vw;
  padding-top: 2vw;
}
footer .center .footer_txt {
  width: 50vw;
  font-size: 0.85vw;
  line-height: 1.4vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
/* footer .center .footer_txt .en, footer .center .footer_txt .cr {
    float: left;
} */
footer .center .footer_site {
  width: 25vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
footer .center .footer_site .sns {
  width: 3vw;
  margin-right: 2vw;
}

footer .center .footer_site .family {
  border-radius: 30px;
  background-color: #00c9c9;
  height: 2.3vw;
  width: 10vw;
  overflow: hidden;
}
footer .center .footer_site .family.active {
  height: 5vw;
}
footer .center .footer_site .family a {
  color: #f3eada;
  font-size: 1vw;
  text-align: center;
  white-space: nowrap;
  padding: 0.5vw 1vw;
  height: auto;
}
footer .center .footer_site .family a:first-child {
  border-bottom: 1px solid #002525;
  font-weight: bold;
  text-align: center;
  background-image: url(../img/arrow_r.png);
  background-position: 80% center;
  background-size: 12px;
  background-repeat: no-repeat;
}
footer .center .footer_site .family.active a:first-child {
  background-image: url(../img/arrow_l.png);
}

footer .center .footer_site .family a img {
  display: inline-block;
  width: 1vw;
  margin-left: 1vw;
  margin-bottom: 0.2vw;
}

.sitemap {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: #3e8d8b;
  color: #f3eada;
  left: 0;
  right: 0;
  top: -100vh;
  bottom: 0;
  padding: 5vw 8vw;
  opacity: 0;
  transition: all 0.5s;
}
.sitemap > div {
  float: none;
}
.sitemap .site_logo {
  width: 10vw;
  margin: 0 auto;
}
.sitemap .site_close {
  position: absolute;
  top: 5vw;
  right: 5vw;
  width: 2.5vw;
}
.sitemap .site_sns {
  position: absolute;
  top: 5vw;
  right: 10vw;
  width: 2.5vw;
}
.sitemap .site_nav {
  width: 70vw;
  margin: 0 auto;
  margin-top: 5vw;
}
.sitemap .site_nav > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sitemap .site_nav > ul > li > a {
  font-size: 1.2vw;
  color: #ffa17a;
  height: auto;
  text-align: center;
  /* padding: 1.5vw; */
}
.sitemap .site_nav .sub li {
  margin: 1.2vw 0;
  text-align: center;
}
.sitemap .site_nav .sub li a {
  font-size: 1vw;
  color: #f3eada;
  /* padding: 0.5vw; */
  margin: 0.5vw;
  display: inline-block;
}
.sitemap .site_nav ul li {
  margin: 1.2vw 0;
}
.sitemap .site_nav ul li a {
  position: relative;
}
.sitemap .site_nav ul li a:after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  display: block;
  bottom: 0;
  transition: all 0.5s;
  background-color: #00c9c9;
}
.sitemap .site_nav > ul > li:hover > a:after {
  width: 100%;
  left: 0;
}
.sitemap .site_nav ul li a:hover:after {
  width: 100%;
  left: 0;
}
.sitemap.active {
  opacity: 1;
  top: 0;
}
